/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

$primaryColor1: hsl(237, 18%, 59%);
$primaryColor2: hsl(345, 95%, 68%);

$neutralColor1: hsl(236, 21%, 26%);
$neutralColor2: hsl(235, 16%, 14%);
$neutralColor3: hsl(234, 17%, 12%);

$white: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
$textFont: 'Red Hat Text', sans-serif;
